h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  color: rgb(225 99 99);
  font-size: 20px;
}

.container {
  width: 500px;
  margin: 0 auto;
}

.email-address {
  font-family: montserrat, sans-serif;
  color: black;
  padding-left: 13px;
  font-size: 12px;
}

.name {
  font-family: montserrat, sans-serif;
  color: black;
  padding-left: 13px;
  font-size: 12px;
}

.location {
  font-family: montserrat, sans-serif;
  color: black;
  padding-left: 13px;
  font-size: 12px;
}

.numbers {
  font-family: montserrat, sans-serif;
  color: black;
  padding-left: 13px;
  font-size: 12px;
}

::placeholder {
  padding: 10px;
}

input {
  font-family: montserrat, sans-serif;
  color: lightgray;
  width: 500px;
  height: 30px;
  border-radius: 5px;
  border-color: rgb(234 230 230);
  border: solid;
  margin-top: 2px;
  margin-bottom: 10px;
}

select {
  font-family: montserrat, sans-serif;
  width: 500px;
  height: 30px;
  padding: auto;
  border-radius: 5px;
  border-color: lightgray;
  background-color: rgb(246 246 246);
  margin-top: 5px;
  margin-bottom: 10px;
}

button {
  font-family: montserrat, sans-serif;
  font-weight: lighter;
  color: white;
  background-color: rgb(225 99 99);
  text-align: center;
  border: 0;
  border-radius: 20px;
  padding: 10px 25px;
  margin-left: 395px;
  margin-top: 10px;
}

.text-align {
  text-align: center;
}
