* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: sans-serif;
}

main {
  display: flex;
  margin: auto;
}

.modal {
  background-color: #4a73dbfc;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 10px 25px;
  margin: 10px;
}

.modal-off {
  background-color: #ff6e6e;
  color: white;
  border: none;
  flex-basis: center;
  border-radius: 3px;
  padding: 10px 25px;
  margin: 10px;
}

.survey {
  box-shadow: 0 0 1400px 1400px rgb(0 0 0 / 75%);
  position: fixed;
  top: 0;
  left: 50px;
  bottom: 200px;
  right: 50px;
  text-align: center;
  width: 300px;
  height: 150px;
  justify-content: center;
  border-radius: 5px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 1000px;
  background-color: rgb((0 0 0 rgb(0 0 0 / 0.5%)));
}

.hidden {
  display: none;
}

p {
  font-weight: bold;
}
