* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

main {
  display: flex;
  align-items: center;
}

.modal {
  background-color: #4a73dbfc;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 10px 25px;
  margin: 10px;
}

.background {
  background-color: white;
}

.modal.off {
  background-color: red;
  border: outset;
  border-color: gray;
  flex-basis: center;
  border-radius: 3px;
  padding: 10px 25px;
  margin: 10px;
}

.survey.on {
  background: linear-gradient(transparent, rgb(0 0 0 / 0.75%));
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-height: 100vh;
  justify-content: center;
}

.hidden {
  display: none;
}
