h1 {
  color: rgb(28 74 111);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: center;
}

.column-half {
  flex-basis: calc(100% / 2);
}

.column-one-fifth {
  flex-basis: calc(100% / 5);
}

.column-full {
  flex-basis: 100%;
}

#about-us {
  color: black;
}

#clinician-prefers {
  background-color: rgb(249 250 251);
  border-style: outset;
  border-color: rgb(249 250 251);
}

#canvas-bottom {
  background-color: rgb(83 88 92);
  color: white;
}

#bottom {
  margin: 0 auto;
  color: rgb(83 88 92);
  background-color: rgb(249 250 251);
}
