body {
  font-family: Avenir, sans-serif;
}

h1 {
  color: rgb(28 74 111);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: center;
}

.column-half {
  flex-basis: calc(100% / 2);
}

.column-one-fifth {
  flex-basis: calc(100% / 5);
}

.column-full {
  flex-basis: 100%;
}

.about-us {
  color: black;
  margin: 30px 159px;
  width: 1200px;
  height: 300px;
  position: relative;
}

.image {
  margin: 30px 159px;
  width: 1200px;
  height: 300px;
  position: absolute;
}

.overlay {
  background: linear-gradient transparent, rgb(103 103 103/ 50%);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#clinician-prefers {
  background-color: rgb(249 250 251);
  border-style: outset;
  border-color: rgb(249 250 251);
}

#canvas-bottom {
  background-color: rgb(83 88 92);
  color: white;
}

.button-top {
  border: none;
  color: rgb(145 148 150);
  background-color: white;
}

.button-get-started {
  background-color: rgb(28 74 111);
  color: white;
  border: none;
  padding: 7px 27px;
  border-radius: 3px;
}

.button-contact-us {
  background-color: rgb(28 74 111);
  color: white;
  border: none;
  padding: 7px 12px;
  border-radius: 3px;
}

.button-bottom {
  border: none;
  color: white;
  background: none;
}

.button-last {
  margin: 30px 159px;
  color: rgb(83 88 92);
  background-color: rgb(249 250 251);
  border: none;
}

#last {
  background-color: rgb(249 250 251);
  border-color: rgb(249 250 251);
}
